/* Additions to Navbar */

.checkbtn .fa {
    font-size: 30px;
    color: white;
    margin: 0px;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.menu {
    list-style-type: none;
}




/* Open Jobs Page */

.open-jobs-container {
    background-color: #F0F9EA;
    display: flex;
    padding-bottom: 30px;
}

.open-job1 {
    height: auto !important;
}

.open-job2 {
    height: auto !important;
}

.open-job3 {
    height: auto !important;
}

.open-job4 {
    height: auto !important;
}

.open-job5 {
    height: auto !important;
}

.open-job {
    text-align: justify;
    margin: 0 auto;
    max-width: 1200px;
}

.open-job-title {
    font-size: 40px;
    color: #023B31;
    padding: 170px 0px 40px 0px;
    font-family: 'Termina', Helvetica, Arial;
}

.open-job-subtitle {
    font-size: 22px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Montserrat', Helvetica, Arial;
}

.open-job p {
    font-size: 18px;
    padding-bottom: 30px;
    line-height: 1.4;
    color: #525252;
    font-family: 'Montserrat', Helvetica, Arial;

}

.open-job ul {
    padding-bottom: 30px;
    padding-top: 0;
}

.open-job li {
    list-style-type: square;
    margin-left: 30px;
    padding-left: 8px;
    font-size: 18px;
    line-height: 1.8;
    font-weight: bold;
    color: #525252;
    font-family: 'Montserrat', Helvetica, Arial;
}

.jobs-button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0px 20px;
}

.open-job a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    width: 150px;
    text-align: center;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #023B31;
    font-family: 'Termina', Helvetica, Arial;
}







/* Jobs Page */

.jobs-container {
    background-color: rgb(231, 240, 216, 0.8);
}

.jobs-intro-container {
    max-width: 493px;
    text-align: center;
}

.jobs-intro-container h2 {
    font-size: 40px;
    text-align: center;
    color:#023B31;
    font-family: 'Termina', Helvetica, Arial;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 18px;
}

.jobs-intro-container p {
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial;
    line-height: 23px;
}

.jobs-container hr {
    width: 17%;
    height: 3px;
    background-color: #023B31;
    margin: 6px auto;
    
}

.new-container {
    position: relative;
}

.new-icon {
    padding-right: 2px;
    position: absolute;
    top: -25px;
}

.new-icon img {
    display: inline-block;
    margin-left: -90px;
}

.new-job {
    display: inline-block;
    margin-top: -20px;
}

.jobs-links-container {
    padding-top: 50px;
}

.jobs-links {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(190, 190, 190);
    padding: 15px;
}

.jobs-links a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, Arial;
}

.jobs-eeo-container {
    padding: 80px 0;
}

.jobs-eeo-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', Arial;
    gap: 35px;
    justify-content: center;
    padding: 0 30px;
}

.jobs-eeo-wrapper p {
    font-size: 16px;
}

.jobs-eeo-wrapper h3 {
    font-size: 27px;
    margin-bottom: 6.5px;
}

.need-assistance, .eeo {
    flex: 50%;
}

.need-assistance {
    background: url('./assistance_graphic.png') no-repeat;
    background-color: #173142;
    background-position: bottom left;
    border-radius: 20px;
    color: #ffffff;
    min-height: 444px;
    padding: 50px 40px 40px;
}

.need-assistance a,
.need-assistance p a {
    color: #FFF;
    text-decoration: underline;
}

.eeo {
    background-color: #E0F2F1;
    border-radius: 20px;
    padding: 50px 40px 40px;
}

.eeo h3 {
    color: #023B31;
}

.eeo p {
    margin-bottom: 28px;
}

.eeo-download a {
    display: block;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 12px 48px;
    margin-bottom: 16px;
    text-align: center;
    text-decoration: none;
    transition: border .2s ease-in-out;
}

.eeo-download a:hover {
    border: 2px solid #80CBC4;
    text-decoration: none;
}

.eeo-download p {
    color: #023B31;
    font-weight: bold;
    margin-bottom: 4px;
}

.eeo-download span {
    color: #00796B;
    font-weight: bold;
}

@media only screen and (min-width: 1050px) {
    .jobs-eeo-wrapper {
        align-items: stretch;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1408px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 375px) {
    .jobs-eeo-wrapper p,
    .eeo-download span {
        font-size: 12px;
    }
}
